/* .title-accro .mat-expansion-panel-header-description{
  justify-content: space-between;
  align-items: center;
  flex-basis: 0;
} */
.chart {
  height: 40vh;
}

.chart-lg {
  height: 700px;
}
.title-accro .mat-expansion-panel-header-title,
.title-accro .mat-expansion-panel-header-description {
  flex-basis: 0 !important;
}

.title-accro .mat-expansion-panel-header-description {
  justify-content: space-between !important;
  align-items: center !important;
}

.title-accro .mat-form-field + .mat-form-field {
  margin-left: 8px !important;
}


.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}
.heading{
  padding-left: 2vw;
  color:#424242;
  padding-top: 0%;
  padding-bottom: 0%;
}

/* mat-card {
  background:#ffe082;
  color: #424242;
} */



.heart-rate {
  width: 50px;
  height: 20px;
  position: relative;
  margin: 20px auto;
}

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffe082;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: #ffe082;
  background: -moz-linear-gradient(left, #ffe082 0%, #ffe082 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, #ffe082 0%, #ffe082 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, #ffe082 0%, #ffe082 50%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, #ffe082 0%, #ffe082 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #ffe082 0%, #ffe082 80%, rgba(255, 255, 255, 0) 100%);
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}

mat-card img{
 
  width: 10vh; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 10vh;
}


mat-card-content h5{
  padding: 0;
  margin: 0;
}

#assetStatus{
  color: green;
}

/* #assetOnlineStatus{
  color: #000;
} */



/**********************************************/
#powerHeight{
  width: 100px;
  height: 100px;
}

.power-switch {
  --color-invert: #4ad81e;
  --width: 150px;
  --height: 150px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: var(--width);
  height: var(--height);
}
.power-switch .button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
}
.power-switch .button:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(circle closest-side, var(--color-invert), transparent);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.power-switch .button .power-on {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  fill: none;
  stroke: var(--color-invert);
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.power-switch .button .power-off {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  fill: none;
  stroke: red;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.power-switch .button .power-on .line,
.power-switch .button .power-off .line {
  opacity: 0.2;
}
.power-switch .button .power-on .circle,
.power-switch .button .power-off .circle {
  opacity: 0.2;
  -webkit-transform: rotate(-58deg);
          transform: rotate(-58deg);
  -webkit-transform-origin: center 80px;
          transform-origin: center 80px;
  stroke-dasharray: 220;
  stroke-dashoffset: 40;
}
.power-switch .button .power-on {
  -webkit-filter: drop-shadow(0px 0px 6px rgba(3, 230, 41, 0.8));
          filter: drop-shadow(0px 0px 6px rgba(3, 230, 41, 0.8));
}



.power-switch .button .power-on .line {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 1s;
  transition: opacity 0.3s ease 1s;
}
.power-switch .button .power-on .circle {
  opacity: 1;
  stroke-dashoffset: 220;
  -webkit-transition: stroke-dashoffset 1s ease 0s, -webkit-transform 0s ease;
  transition: stroke-dashoffset 1s ease 0s, -webkit-transform 0s ease;
  transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
  transition: transform 0s ease, stroke-dashoffset 1s ease 0s, -webkit-transform 0s ease;
}
.power-switch input {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.power-switch input:checked + .button:after {
  opacity: 0.15;
  -webkit-transform: scale(2) perspective(1px) translateZ(0);
          transform: scale(2) perspective(1px) translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
.power-switch input:checked + .button .power-on,
.power-switch input:checked + .button .power-off {
  -webkit-animation: click-animation 0.3s ease forwards;
          animation: click-animation 0.3s ease forwards;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.power-switch input:checked + .button .power-on .line,
.power-switch input:checked + .button .power-off .line {
  -webkit-animation: line-animation 0.8s ease-in forwards;
          animation: line-animation 0.8s ease-in forwards;
}
.power-switch input:checked + .button .power-on .circle,
.power-switch input:checked + .button .power-off .circle {
  -webkit-transform: rotate(302deg);
          transform: rotate(302deg);
}
.power-switch input:checked + .button .power-on .line {
  opacity: 1;
  -webkit-transition: opacity 0.05s ease-in 0.55s;
  transition: opacity 0.05s ease-in 0.55s;
}
.power-switch input:checked + .button .power-on .circle {
  -webkit-transform: rotate(302deg);
          transform: rotate(302deg);
  stroke-dashoffset: 40;
  -webkit-transition: stroke-dashoffset 0.4s ease 0.2s, -webkit-transform 0.4s ease 0.2s;
  transition: stroke-dashoffset 0.4s ease 0.2s, -webkit-transform 0.4s ease 0.2s;
  transition: transform 0.4s ease 0.2s, stroke-dashoffset 0.4s ease 0.2s;
  transition: transform 0.4s ease 0.2s, stroke-dashoffset 0.4s ease 0.2s, -webkit-transform 0.4s ease 0.2s;
}

@-webkit-keyframes line-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  40% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  60% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  85% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes line-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  40% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  60% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  85% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes click-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes click-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* mat-table{
  width: 50%;
} */



